body {
	background-color: black;
}

h1{
	font-family: 'Cabin Sketch', cursive;
	color: white;
	display:inline;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;

}

#wrapper {
	width: 100%
	max-width:960px;
	margin: 0 auto;
}

#instructions {
	font-family: 'Cabin Sketch', cursive;
	color: white;
	width: 100%;
	clear: both;
	padding: 15px;
	margin-top: 20px;
	border: solid 1px #ddd;
	text-align: center;
}

#guessThisNumber {
	font-family: 'Cabin Sketch', cursive;
	background-color: #66ff33;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}

#scoreboard {
	font-family: 'Cabin Sketch', cursive;
	background-color: #00ccff;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;

}

#crystals {
	margin-top: 15px;
	margin-bottom:26px;
	text-align: center;

}

.crystalImage {
	height: 111px;
	margin-left: 10px;
}

.crystalImage:firstchild {
	margin-left: 0px;

}

#totalScore {
	font-family: 'Cabin Sketch', cursive;
	margin-bottom: 50px;
	text-align: center;
}

#ts {
	font-family: 'Cabin Sketch', cursive;
	background: #ff3399;
	display: inline;
	padding: 20px;
}